[submodule "src/testing"]
	path = src/testing
	url = https://github.com/google/googletest
[submodule "src/third_party/lss"]
	path = src/third_party/lss
	url = https://chromium.googlesource.com/linux-syscall-support
